body{
    /* background-color: #2b9f88; */
    color: #004a6f;
    height: 90vh;
    background-image: url("bgimg.gif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.display-6{
    text-shadow: 0px 0px 3px black;
}
h1{
    text-shadow: 0px 0px 3px black;
}
section{
    background-color: rgba(255,255,255, 0.65);
}
.circle{
    background-color: rgb(0, 255, 0);
    box-shadow: 1px 1px 5px 1px #000000;
    border: 1px solid white;
    border-radius: 100px;
    height: 25px;
    width: 25px;
}
button{
    background-color: #2b9f88;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 0.75rem;
    transition: 0.6s ease;
}
button:hover{
    box-shadow: 1px 1px 5px 1px #1d6b5b;
}
button:active{
    box-shadow: 1px 1px 5px 1px #47f8d5c9;
}
button[disabled=disabled], button:disabled {
    background-color: #93b4ae;
}